<div class="cntainr"
		data-aos="zoom-in"
 		data-aos-easing="ease-in-sine"
 		data-aos-duration="500">
	<div class="section1">
		<div class="flex">
			<div class="title">Contact Us</div>
			<div class="contact">
				<div class="icon"><i class="fas fa-map-marker-alt"></i></div>
				<a href="#" class="iconText">Jankipuram, Lucknow</a>
			</div>
			<div class="contact">
				<div class="icon"><i class="fas fa-envelope" aria-hidden="true"></i></div>
				<a href="#" class="iconText">school@example.com</a>
			</div>
			<div class="contact">
				<div class="icon"><i class="fas fa-phone"></i></div>
				<a href="#" class="iconText">(+91) 1234567890</a>
			</div>
		</div>
		<div>
			<div class="title">Links</div>
			<a href="/home" class="iconText">Home</a>
			<br>
			<a href="#" class="iconText">Words from Desk</a>
			<br>
			<a href="#" class="iconText">Achievements</a>
			<br>
			<a href="/gallery" class="iconText">Image Gallery</a>
			<br>
			<a href="/video" class="iconText">Video Gallery</a>
			<br>
			<a href="/about" class="iconText">About Us</a>
			<br>
			<a href="#" class="iconText">Contact Us</a>
		</div>
		<div class="flex">
			<div class="title">Connect with Us</div>
			<div class="social">
				<a href="#" class="socialIcon"><i class="fab fa-google"></i></a>
				<a href="#" class="socialIcon"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="socialIcon"><i class="fab fa-instagram"></i></a>
			</div>
		</div>
	</div>
	<div class="hr"></div>
	<div class="section2">Copyright ©2020 All rights reserved • This template is crafted with by $ω@ρη¡| Ꝅαμ&Π!κ</div>
</div>

<!--
	<i class="icon fas fa-phone"></i>
	<i class="icon fas fa-envelope" aria-hidden="true"></i>
	<i class="icon fas fa-map-marker-alt"></i>
	<i class="social_icon fab fa-google"></i>
	<i class="social_icon fab fa-facebook-f"></i>
	<i class="social_icon fab fa-instagram"></i>
	-->