<div class="container-fluid">
	<!--div class="album">
		<div class="div1">
			<div class="div2">
				<div class="div3">
					<div class="div4"></div>
				</div>
			</div>
		</div>
		<div class="albTitle">Title</div>
		<div class="albDate">01-Mar-2019</div>
	</div-->
	<div *ngFor="let album of gallery;" class="album">
		<div [routerLink]="['/album/', album._id]" class="div1">
			<div class="div2">
				<div class="div3">
					<div class="div4" [style.background-image]="'url(' + album.images[0] + ')'"></div>
				</div>
			</div>
		</div>
		<div class="albTitle">{{ album.title }}</div>
		<div class="albDate">{{ album.date }}</div>
	</div>
</div>