.cntainr {
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

.flex {
	display: flex;
}

#logo {
	background-image: url('logo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 70px;
	width: 70px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 8px;
}

.navItem {
	font-size: 22px;
	font-weight: bold;
	color: #0d1128;
	line-height: 50px;
	margin-left: 10px;
	margin-right: 10px;
	height: 70px;
	padding: 8px;
}

.navItem:hover {
	font-size: 24px;
}

.add {
	line-height: 25px;
	font-size: 18px;
	padding: 8px;
	padding-right: 15px;
}

.navBar {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	display: flex;
	z-index: 2005;
}


@keyframes widthAnimeTemp {
  0%   { width: 0vw; }
  5%   { width: 2vw; }
  10%  { width: 4vw; }
  15%  { width: 6vw; }
  20%  { width: 8vw; }
  25%  { width: 10vw; }
  30%  { width: 12vw; }
  35%  { width: 14vw; }
  40%  { width: 16vw; }
  45%  { width: 18vw; }
  50%  { width: 20vw; }
  55%  { width: 22vw; }
  60%  { width: 24vw; }
  65%  { width: 26vw; }
  70%  { width: 28vw; }
  75%  { width: 30vw; }
  80%  { width: 32vw; }
  85%  { width: 34vw; }
  90%  { width: 36vw; }
  95%  { width: 38vw; }
  100% { width: 40vw; }
}

@keyframes widthAnime1 {
  0%   { width: 10vw; }
  10%  { width: 15vw; }
  20%  { width: 20vw; }
  30%  { width: 25vw; }
  40%  { width: 30vw; }
  50%  { width: 35vw; }
  60%  { width: 40vw; }
  70%  { width: 45vw; }
  80%  { width: 50vw; }
  90%  { width: 55vw; }
  100% { width: 60vw; }
}


.section1 {
	background-color: #0c3562;
	width: 60vw;
	animation-name: widthAnime1;
  	animation-duration: .2s;
}

.section2 {
	background-color: rgba(12,53,98,.4);
	width: 100vw;
	transition: width 2s;
	border-top: 100vh solid transparent;
	border-left: 150px solid #0c3562;
}

.navLinks {
	display: inline-flex;
	flex-direction: column;
	padding: 20%;
}

.navLinks .links {
	font-size: 22px;
	color: #fff;
	padding: 8px;
	text-overflow: ellipsis;
}

.hr {
	height: 1px;
	background-color: #fff;
	width: 60%;
	margin: 8px;
	margin-left: -10px;
}

.hrb {
	height: 2px;
	background-color: #0c3562;
	width: 95%;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: auto;
	margin-left: auto;
}

.navLinks .links:hover {
	color: #fd5f00;
}