<div class="cntainr">
	<div class="banner" 
			data-aos="fade-up"
			data-aos-offset="100"
     		data-aos-easing="ease-in-sine"
     		data-aos-duration="700"></div>
	<div class="md" 
			data-aos="fade-down-left"
			data-aos-offset="100"
     		data-aos-easing="ease-in-sine"
     		data-aos-duration="700"></div>
	<div class="aboutUs" 
			data-aos="fade-down-right"
			data-aos-offset="300"
     		data-aos-easing="ease-in-sine"
     		data-aos-duration="700">
		<div class="title">About School</div>
		<div class="text">"We live today in a world that is so very different from the one that we grew up in. Hence we need to pause and reflect, whether our schools are well equipped to prepare our children for the challenges that future holds for them. Today, there is a constant need to update and upgrade so as to fill the need gaps in learning.."</div>
	</div>
	<div class="facts"
			data-aos="zoom-in-up"
			data-aos-offset="300"
     		data-aos-easing="ease-in-sine"
     		data-aos-duration="700">
		<div class="titleW">Some Facts from Us</div>
		<div class="factFlex">
			<div>
				<div class="counter">50<sup>+</sup></div>
				<div class="fact">Techers</div>
			</div>
			<div>
				<div class="counter">2000<sup>+</sup></div>
				<div class="fact">Students</div>
			</div>
			<div>
				<div class="counter">15<sup>+</sup></div>
				<div class="fact">Expirence</div>
			</div>
		</div>
	</div>
	<div class="message" 
				data-aos="fade-down-right"
				data-aos-offset="300"
	     		data-aos-easing="ease-in-sine"
 				data-aos-duration="700">
		<div class="borderImg">
			<div class="img" 
					data-aos="flip-left"
					data-aos-offset="300"
		     		data-aos-easing="ease-in-sine"
     				data-aos-duration="700"></div>
		</div>
		<div class="msg">
			<div class="msgTitle">Principal's <br> Message</div>
			<div class="msgTxt">"Our school is dedicated to the education of children and CMS has a strong academic emphasis wherein students are encouraged to achieve the highest academic standard. We are working together to promote and develop a learning environment where students can reach their full potential, by participating in all school programmes. We believe that each child is a unique individual with special gifts and talents and with motivation, encouragement, and hard work, the child can reach great heights. We believe that there are no secrets to success. It is the result of preparation, hard work and learning from failure. Education is what remains after one has forgotten what one has learned in school."</div>
		</div>
	</div>
</div>
