<div class="cntainr">
	<div class="title">About Us</div>
	<div class="borderImg"
			data-aos="zoom-in-down"
     		data-aos-easing="ease-in-sine"
     		data-aos-duration="700">
     			<div class="img"></div>
     		</div>
	<div class="txt"
			data-aos="zoom-in-down"
			data-aos-offset="250"
     		data-aos-easing="ease-in-sine"
     		data-aos-duration="700">We live today in a world that is so very different from the one that we grew up in. Hence we need to pause and reflect, whether our schools are well equipped to prepare our children for the challenges that future holds for them. Today, there is a constant need to update and upgrade so as to fill the gaps in learning.
	<br>
	At Delhi Public School Gomti Nagar, we ensure a well balanced curriculum so that when these children walk out of the portals of our school they are ready to face the challenges of life.
	<br>
	Our school has a lot to offer. Properly graded curriculum for physical education designed by Edusports is implemented right from Pre-Primary to Grade XII. Our Sports academy has already won accolades in the previous year. The animation academy focuses on the enhancement of the creative skills of children. While promoting the academic excellence we safeguard and nurture the sensitive human being in every child.</div>
</div>
